<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/register.css">
    <title>crea tu cuenta</title>
</head>
<body>

<!--------------------------------------------------------------------------------------------------->

    <header>

        <div class="logo-barra-dato">
        <div class="logo-barra">
            <img class="logo" src="/img/logo-mercado-liebre.svg" width="100%">
        <div class="navv">
            <form class="navega" action="" method="post">
            <input class="barraDeBusqueda" type="text" name="barraDeBusqueda" id="barraDeBusqueda" placeholder="Buscar productos marcas"><i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
        </div>
            <p class="titular1"><i class="fa-solid fa-user"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="countainer">
<!-- ------------------------------ NAV1 --------------------------------------------------------------------- -->            
            <nav class="nav1">
            <ul class="cajas1">
        <div class="cajas">
            <li>
            <a href="#">Ofertas</a>
            </li>
        </div>
        <div class="cajas">
            <li>
            <a href="#">Tiendas Oficiales</a>
            </li>
            </div>
        <div class="cajas">    
            <li>
            <a href="#">Vender</a>
            </li>
        </div>
        <div class="cajas">    
            <li>
            <a href="#">Ayuda</a>
            </li>
        </div>    
            </ul>
            </nav>
<!-----------------------NAV2---------------------------------------------------------------------------->
            <nav class="nav2">
            <ul class="cajas2">
        <div class="cajas2">
            <li>
            <a href="register.html">Creá tu cuenta</a><i class="fa-sharp fa-solid fa-user-plus"></i>
            </li>
        </div>
        <div class="cajas2">
            <li>
            <a href="login.html">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i>
            </li>
        </div>
        <div class="cajas2">
            <li>
            <a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i>
            </li>
        </div>
            </ul>
            </nav>
<!-- ---------------------------------------------------------------------------------------------------------- -->            
            <br>
        </div>
        <div class="bars">
            <i class="fa-solid fa-bars"></i>
        </div>
    
    </header>

<!--------------------------------------------------------------------------------------------------->

    <main>
    
        <div class="countainer-registro">
            <form action="/home.html" method="post">
                <br>
            <div class="cajaPadre">
                <input class="caja" type="text" name="nombreYApelldios" id="nombreYApelldios" placeholder="Nombre y apellidos">
            </div>
                <br>
            <div class="cajaPadre">
                <input class="caja" type="text" name="nombreDeUsuario" id="nombreDeUsuario" placeholder="Nombre de usuario">
            </div>
                <br>
            <div class="cajaPadre">
                    <input class="caja" type="email" name="email" id="email" placeholder="Email">
            </div>
                <br>
            <div class="cajaPadre">
                <h2>Fecha de nacimiento</h2>
                <input class="caja" type="date" name="Fecha">
            </div>
                <br>
            <div class="cajaPadre">
                <input class="caja" type="text" placeholder="Domicilio">
            </div>
                <br>
            <div class="cajaPadre">
                <h2>Perfil del usuario</h2>
                <label><input type="checkbox" id="cbox1" value="first_checkbox"> Comprador</label>
                <input type="checkbox" id="cbox2" value="second_checkbox"><label for="cbox2">Vendedor</label>
            </div>
                <br>
            <div class="cajaPadre">
                <h2>Intereses</h2>
                <label><input type="checkbox" id="cbox3" value="first_checkbox">Electro</label><br>
                <label><input type="checkbox" id="cbox3" value="first_checkbox">Moda</label><br>
                <label><input type="checkbox" id="cbox3" value="first_checkbox">Hogar</label><br>
                <label><input type="checkbox" id="cbox3" value="first_checkbox">Juguetería</label><br>
                <label><input type="checkbox" id="cbox3" value="first_checkbox">Vida sana</label><br>
            </div>
            <br>
            <div class="cajaPadre">
                <label for="">Foto de usuario</label>
                <br>
                <input class="caja" type="file"  name="avatar" accept=".jpg" multiple>
            </div>
            <br>
            <div class="cajaPadre">
                <input class="caja" type="password" name="password" id="password"  placeholder="Contraseña">
            </div>
            <br>
            <div class="cajaPadre">
                <input class="caja" type="password" name="password" id="password" placeholder="Confirmar Contraseña">
            </div>    
            <br>
            <div class="cajaPadre1">
                <input class="caja1" type="submit" placeholder="REGISTRAR">
            </div>
            <div class="cajaPadre1">
                <input class="caja2" type="reset" placeholder="BORRAR">
            </div>
            <br>
            </form>
        </div>

    </main>
        
<!--------------------------------------------------------------------------------------------------->

    <footer>

        <i class="fa-solid fa-credit-card fa-2x"></i>
        <h4 class="pieDePagina">Pagá con tarjeta o en efectivo</h4>
        <p class="Hipertexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <br>
        <br>
        <i class="fa-solid fa-gift fa-2x" ></i>
        <h4 class="pieDePagina">Envío gratis desde $ 2.500</h4>
        <p class="Hipertexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <br>
        <br>
        <i class="fa-sharp fa-solid fa-user-shield fa-2x"></i>
        <h4 class="pieDePagina">Seguridad, de principio a fin</h4>
        <p class="Hipertexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <br>
        <h4 class="textoFinal">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>


    </footer>

<!--------------------------------------------------------------------------------------------------->

</body>
</html>